<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Pete!</title>
  <script src="https://unpkg.com/@adonisjs/websocket-client"></script>
</head>
<body>
  {{ script('js/bundle') }}
</body>
</html>
